.text-animation {
   position: relative;
   overflow: hidden;
   height: 16px;
   width: 100%;
   display: block;
   line-height: 18px;
   margin-top: 5px;

}
.text-animation > span {
   position: absolute;
}

.text-animation > .top {
   transition: transform .2s;
   transform: translateY(-18px);
}
.text-animation > .bottom {
   transition: transform .2s;
   transform: translateY(18px);
}